<html>

    <head>
        <link rel="shortcut icon" href="">
    </head>

    <body>

            <form method="POST" action="/api/login" >
                <label>Email</label><br>
                <input type="text" name="email">
                <br>
                <label>Password</label><br>
                <input type="password" name="password">
                <br>
                
                <br><br>
                <input type="submit" value="Enter">
            </form>

    </body>

</html>